{% extends 'base.html' %}
{% block content %}
<h1>Hello World!</h1>
<h2>This is the first django web application</h2>
<h3>Welcome Mr: {{name}}</h3>

<form action="add" method="POST">
    {% csrf_token %}
    Enter 1st Number : <input type="text" name="num1"><br>
    Enter 2nd Number : <input type="text" name="num2"><br>
    <input type="submit">

</form>
{% endblock %}